In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%pwd

'h:\\Codes\\PythonWorkspace\\TrafficFlowModel\\data_process'

In [5]:
df_taxi_1202=pd.read_csv("../data/taxi/2019-12-02/2019-12-02_0",
                         names=["sys_time", "license_number", "lng", "lat", "gps_time", "EMPTY1", "speed", "direction", "car_status",
                                "alarm_status", "EMPTY2", "EMPTY3", "license_color", "recorder_speed", "mileage", "height", "EMPTY4"
                               ])

df_taxi_1202

,sys_time,license_number,lng,lat,gps_time,EMPTY1,speed,direction,car_status,alarm_status,EMPTY2,EMPTY3,license_color,recorder_speed,mileage,height,x
0,2019-12-02 00:00:00,粤BDD9830,114.032350,22.633490,2019-12-01 23:59:48,NaN,0,177,512,0,NaN,NaN,蓝色,0,1660020,0,0
1,2019-12-02 00:00:00,粤BD09291,113.998505,22.645908,2019-12-01 23:57:31,NaN,65,79,512,0,NaN,NaN,蓝色,65,2634460,0,0
2,2019-12-02 00:00:00,粤B6K4A2,114.062850,22.519337,2019-12-01 23:59:49,NaN,12,59,512,0,NaN,NaN,蓝色,12,3980670,0,0
3,2019-12-02 00:00:00,粤BDM2251,113.812440,22.623005,2019-12-01 23:50:43,NaN,13,45,0,0,NaN,NaN,蓝色,13,0,0,0
4,2019-12-02 00:00:00,粤BD40223,114.043500,22.557743,2019-12-01 23:59:49,NaN,20,166,512,0,NaN,NaN,蓝色,20,3843370,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2019-12-02 00:18:38,粤BD94915,114.022000,22.545807,2019-12-02 00:18:29,NaN,61,178,0,0,NaN,NaN,蓝色,61,2359890,0,0
999996,2019-12-02 00:18:38,粤BDK9169,114.066960,22.572770,2019-11-28 09:27:10,NaN,0,0,0,0,NaN,NaN,蓝色,0,1758980,0,0
999997,2019-12-02 00:18:38,粤BDC2306,114.063065,22.535683,2019-12-02 00:18:28,NaN,58,179,512,0,NaN,NaN,蓝色,58,2147270,0,0
999998,2019-12-02 00:18:38,粤BDK9123,113.885620,22.585380,2019-12-02 00:17:45,NaN,0,79,0,0,NaN,NaN,蓝色,0,1838410,0,0
999999,2019-12-02 00:18:38,粤BD92072,114.101080,22.546322,2019-12-02 00:18:28,NaN,0,7,0,0,NaN,NaN,蓝色,0,3283760,0,0

In [12]:
df_bus_1202=pd.read_csv("../data/bus/STRING_20191202",
                        names=["sys_time", "data_type", "termial_id", "license_number", "route_id", "child_route_id", "company", "locate_status", "lng", "lat", "height",
                                "upload_time", "speed", "direction", "recorder_speed", "mileage", "car_type", "flag"
                              ])

df_bus_1202.loc[df_bus_1202["speed"]>0]
# df_bus_1202.loc[(df_bus_1202["license_number"]=="BS39921D") & (df_bus_1202["speed"]!=0)]

,sys_time,data_type,termial_id,license_number,route_id,child_route_id,company,locate_status,lng,lat,height,upload_time,speed,direction,recorder_speed,mileage,car_type,flag
13,2019-12-02 00:00:53,0,BS09807D,BS09807D,M3923,NaN,0,0,114.050911,22.718843,0.0,2019-12-02 00:00:52,28.000000,0.000000,0.0,120445.789062,2,0
14,2019-12-02 00:00:53,0,1918107,BS77693D,M1733,NaN,2,0,114.031868,22.636133,80.0,2019-12-02 00:00:53,7.000000,347.000000,0.0,24073.000000,2,0
19,2019-12-02 00:00:53,0,BS08385D,BS08385D,0N141,NaN,0,0,114.114349,22.534765,0.0,2019-12-02 00:00:53,27.000000,0.000000,0.0,145948.781250,1,0
36,2019-12-02 00:00:53,0,SZBM3938,SZBM3938,0002C,0002C,e,0,114.049408,22.683121,0.0,2019-12-02 00:00:51,76.599998,96.000000,0.0,0.000000,1,0
58,2019-12-02 00:00:53,0,1544193,BS22219D,0E342,NaN,1,0,114.345970,22.707300,80.0,2019-12-02 00:00:57,31.000000,33.000000,0.0,52911.000000,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999871,2019-12-02 00:23:28,0,00880043D5,BS03390D,M5673,NaN,1,0,114.034081,22.625092,0.0,2019-12-02 00:23:29,9.000000,55.200001,0.0,135736.578125,1,0
999879,2019-12-02 00:23:28,0,008800027D,BS04457D,03280,NaN,1,0,114.055885,22.622059,0.0,2019-12-02 00:23:26,13.000000,4.200000,0.0,188486.437500,2,0
999943,2019-12-02 00:23:28,1,0088001758,BS00589D,M3613,NaN,1,0,114.339531,22.694954,0.0,2019-12-02 00:23:17,39.000000,23.900000,0.0,32929.949219,2,H_PS0152
999962,2019-12-02 00:23:28,0,BS07416D,BS07416D,01130,NaN,0,0,114.162247,22.564171,0.0,2019-12-02 00:23:28,5.000000,0.000000,0.0,138671.234375,2,0
999989,2019-12-02 00:23:28,0,006A00F2A4,BS40149D,M2393,NaN,1,0,114.211754,22.659237,0.0,2019-12-02 00:23:27,51.000000,43.000000,0.0,325708.000000,2,0

In [ ]:
# 地磁测量点分布图，时间间隔，车流分布
# 建图
# map matching
# taxi 数据处理

In [14]:
cars=df_taxi_1202["license_number"].unique()[:100]

In [20]:
df_taxi_out=df_taxi_1202.loc[df_taxi_1202["license_number"].isin(cars)].sort_values("license_number")

df_taxi_out

,sys_time,license_number,lng,lat,gps_time,EMPTY1,speed,direction,car_status,alarm_status,EMPTY2,EMPTY3,license_color,recorder_speed,mileage,height,x
709500,2019-12-02 00:13:12,粤B0P3M8,113.94035,22.567150,2018-11-26 09:32:46,NaN,0,190,0,0,NaN,NaN,蓝色,0,0,0,0
375081,2019-12-02 00:06:55,粤B0P3M8,113.94035,22.567150,2018-11-26 09:32:46,NaN,0,190,0,0,NaN,NaN,蓝色,0,0,0,0
166550,2019-12-02 00:03:06,粤B0P3M8,113.94035,22.567150,2018-11-26 09:32:46,NaN,0,190,0,0,NaN,NaN,蓝色,0,0,0,0
83512,2019-12-02 00:01:35,粤B0P3M8,113.94035,22.567150,2018-11-26 09:32:46,NaN,0,190,0,0,NaN,NaN,蓝色,0,0,0,0
458401,2019-12-02 00:08:29,粤B0P3M8,113.94035,22.567150,2018-11-26 09:32:46,NaN,0,190,0,0,NaN,NaN,蓝色,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291999,2019-12-02 00:05:26,粤BDQ9875,113.95865,22.570856,2019-12-02 00:03:47,NaN,48,55,512,0,NaN,NaN,蓝色,48,1145780,0,0
880645,2019-12-02 00:16:28,粤BDQ9875,113.99316,22.557138,2019-12-02 00:16:17,NaN,69,59,0,0,NaN,NaN,蓝色,69,1145830,0,0
197770,2019-12-02 00:03:43,粤BDQ9875,113.95630,22.571154,2019-12-02 00:03:32,NaN,59,45,512,0,NaN,NaN,蓝色,59,1145770,0,0
751858,2019-12-02 00:14:00,粤BDQ9875,113.96840,22.564949,2019-12-02 00:06:50,NaN,3,77,512,0,NaN,NaN,蓝色,3,1145790,0,0
933849,2019-12-02 00:17:28,粤BDQ9875,114.00408,22.555935,2019-12-02 00:17:17,NaN,65,34,0,0,NaN,NaN,蓝色,65,1145850,0,0

In [21]:
df_taxi_out.to_csv("./taxi_sample.csv")

In [23]:
df_mag_1202=pd.read_csv("../data/geomagnetism/2019-12-02",
                    names=["sys_time", "data_type", "cross_id", "packet_id", "lane_id", "upload_time", "speed", 
                           "car_type", "car_length", "time_headway", "distance_between_cars", "car_pass_time"])

df_mag_1202

,sys_time,data_type,cross_id,packet_id,lane_id,upload_time,speed,car_type,car_length,time_headway,distance_between_cars,car_pass_time
0,2019-12-02 00:00:00,2,19980235,3677,103,2019-12-02 00:00:03,48,1,48,0,0.0,590.0
1,2019-12-02 00:00:00,2,19980232,21102,101,2019-12-01 23:59:54,32,1,44,5,44.0,160.0
2,2019-12-02 00:00:00,2,19980232,21101,101,2019-12-01 23:59:51,31,1,46,5,43.0,400.0
3,2019-12-02 00:00:00,2,19980132,20160667,204,2019-12-01 23:59:44,56,1,31,17,264.0,128.0
4,2019-12-02 00:00:00,2,19980132,20160672,103,2019-12-01 23:59:51,67,1,41,8,148.0,256.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8697329,2019-12-02 23:59:59,2,19980216,53977,103,2019-12-02 23:59:57,22,1,45,7,42.0,552.0
8697330,2019-12-02 23:59:59,2,19980216,53978,203,2019-12-02 23:59:57,43,1,45,2,23.0,136.0
8697331,2019-12-02 23:59:59,2,19980200,14051,203,2019-12-02 23:59:55,72,1,54,32,640.0,448.0
8697332,2019-12-02 23:59:59,2,19980235,6673,102,2019-12-03 00:00:02,57,1,48,0,0.0,531.0
8697333,2019-12-02 23:59:59,2,19980136,49162,203,2019-12-02 23:59:55,44,1,46,36,440.0,448.0

In [26]:
cross_list=df_mag_1202["cross_id"].unique()[:10]

cross_list

array([19980235, 19980232, 19980132, 19980234, 19980252, 19980156,
       19980238, 19980154, 19980217, 19980176], dtype=int64)

In [27]:
df_mag_out=df_mag_1202.loc[df_mag_1202["cross_id"].isin(cross_list)]

df_mag_out

,sys_time,data_type,cross_id,packet_id,lane_id,upload_time,speed,car_type,car_length,time_headway,distance_between_cars,car_pass_time
0,2019-12-02 00:00:00,2,19980235,3677,103,2019-12-02 00:00:03,48,1,48,0,0.0,590.0
1,2019-12-02 00:00:00,2,19980232,21102,101,2019-12-01 23:59:54,32,1,44,5,44.0,160.0
2,2019-12-02 00:00:00,2,19980232,21101,101,2019-12-01 23:59:51,31,1,46,5,43.0,400.0
3,2019-12-02 00:00:00,2,19980132,20160667,204,2019-12-01 23:59:44,56,1,31,17,264.0,128.0
4,2019-12-02 00:00:00,2,19980132,20160672,103,2019-12-01 23:59:51,67,1,41,8,148.0,256.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8697307,2019-12-02 23:59:58,2,19980234,631924,103,2019-12-03 00:00:06,88,1,48,0,0.0,361.0
8697317,2019-12-02 23:59:59,2,19980234,869971,201,2019-12-03 00:00:07,74,1,48,0,0.0,361.0
8697318,2019-12-02 23:59:59,2,19980235,5831,202,2019-12-03 00:00:02,54,1,48,0,0.0,531.0
8697323,2019-12-02 23:59:59,2,19980234,869972,201,2019-12-03 00:00:07,73,1,48,0,0.0,372.0
8697332,2019-12-02 23:59:59,2,19980235,6673,102,2019-12-03 00:00:02,57,1,48,0,0.0,531.0

In [28]:
df_mag_out.to_csv("./magnet_sample.csv")